---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import image from "../assets/404.avif";
---

<MainLayout title="Página no encontrada">
  <div class="flex flex-col bg-white">
    <Image
      src={image}
      alt="Pared de escalada"
      quality={"high"}
      loading={"eager"}
      class="h-64 w-full object-cover"
    />
    <div class="flex flex-1 items-center justify-center h-32">
      <div class="mx-auto max-w-xl px-4 py-8 text-center">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          No podemos encontrar la página que buscas.
        </h1>

        <p class="mt-4 text-gray-500">
          Intenta revisar la dirección o regresar a la página de inicio.
        </p>

        <a
          href="/"
          class="mt-6 inline-block rounded-sm bg-blue-950 px-5 py-3 text-sm font-medium text-white hover:bg-blue-900 focus:ring-3 focus:outline-hidden"
        >
          Volver a la página de inicio
        </a>
      </div>
    </div>
  </div>
</MainLayout>
