---
import { Icon } from "astro-icon/components";
import BlogCard from "./BlogCard.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
const blogEntries = blogPosts.slice(0, 5);
---

<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:flex md:items-end md:justify-between">
      <div class="max-w-xl">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
          Descubre las últimas aventuras en nuestro Blog
        </h2>
      </div>

      <a
        href="/blog"
        class="mt-6 inline-flex shrink-0 items-center gap-2 rounded-sm border border-blue-950 px-5 py-3 text-blue-950 transition hover:bg-blue-950 hover:text-white md:mt-0"
      >
        <span class="font-medium"> Leer más </span>

        <Icon name="arrow-right" class="w-5 h-5" />
      </a>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-3 lg:grid-cols-5">
      {blogEntries.map((post) => <BlogCard post={post} />)}
    </div>
  </div>
</section>
