---
interface Props {
  title: string;
  description: string;
  imgUrl: string;
  hasButton?: boolean;
  buttonText?: string;
  buttonLink?: string;
}

const {
  title,
  description,
  imgUrl,
  hasButton = false,
  buttonText,
  buttonLink,
} = Astro.props;
---

<section
  class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        {title}
      </h2>

      <p class="hidden text-gray-500 md:mt-4 md:block">
        {description}
      </p>

      {
        hasButton && (
          <div class="mt-4 md:mt-8">
            <a
              href={buttonLink}
              class="inline-block rounded-sm bg-blue-950 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-900 focus:ring-3 focus:ring-blue-800 focus:outline-hidden"
            >
              {buttonText || "Inicia hoy"}
            </a>
          </div>
        )
      }
    </div>
  </div>

  <img
    alt=""
    src={imgUrl}
    class="h-80 w-full object-cover sm:self-end sm:rounded-ss-[30px] md:rounded-ss-[60px]"
  />
</section>
