<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<section
  class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Aprende y practica escalada en roca
      </h2>

      <p class="hidden text-gray-500 md:mt-4 md:block">
        No vayas a la roca con cualquiera, escala con escaladores. <br/>
        Vive una experiencia emocionante y segura con nosotros.
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="#"
          class="inline-block rounded-sm bg-blue-950 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-900 focus:ring-3 focus:ring-blue-800 focus:outline-hidden"
        >
          Inicia hoy
        </a>
      </div>
    </div>
  </div>

  <img
    alt=""
    src="https://images.unsplash.com/photo-1548777921-f10a5d3839d9?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    class="h-80 w-full object-cover sm:self-end sm:rounded-ss-[30px] md:rounded-ss-[60px]"
  />
</section>
