<section class="bg-gray-100">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <p class="max-w-xl text-lg">
            ¿Listo para un desafío? Únete a nuestras clases de escalada y mejora tu fuerza y resistencia. ¡Todos los niveles son bienvenidos!
        </p>

        <div class="mt-8">
          <a href="#" class="text-2xl font-bold text-blue-950">
            +51 993 387 403
          </a>

          <address class="mt-2 not-italic">
            Jr. Nazca Cdra 6 s/n, en Depor Plaza de Campo de Marte, Jesús María
          </address>
        </div>
      </div>

      <div
        class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12 flex items-center"
      >
        <form action="#" class="space-y-4 w-full">
          <div>
            <label class="sr-only" for="name">Nombre completo</label>
            <input
              class="w-full rounded-lg border border-gray-200 p-3 text-sm"
              placeholder="Nombre completo"
              type="text"
              id="name"
            />
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="email">Email</label>
              <input
                class="w-full rounded-lg border border-gray-200 p-3 text-sm"
                placeholder="Email"
                type="email"
                id="email"
              />
            </div>

            <div>
              <label class="sr-only" for="phone">Telefono</label>
              <input
                class="w-full rounded-lg border border-gray-200 p-3 text-sm"
                placeholder="Telefono"
                type="tel"
                id="phone"
              />
            </div>
          </div>

          <div class="mt-4">
            <button
              type="submit"
              class="inline-block w-full rounded-sm bg-blue-950 px-5 py-3 font-medium text-white sm:w-auto"
            >
              Registrarme
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
