---
import "../styles/global.css";
import "../styles/blog.css";

import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Analytics from "../components/layout/Analytics.astro";

interface Props {
  title: string;
  tags: string[];
  image: any;
  description?: string;
}

const { title, tags, description, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Analytics />
    <title>Vertical | Blog | {title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={tags.join(", ")} />
    <meta name="author" content="Vertical" />

  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
