---
import "../styles/global.css";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Analytics from "../components/layout/Analytics.astro";

interface LayoutProps {
  title: string;
}

const { title } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="es">
  <head>
    <Analytics />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Climbing Academy | { title }</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
